.contact-info {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:rgba(233, 251, 248, 1);
    align-items: center;
    justify-content: space-around;
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
    background-color:rgba(233, 251, 248, 1);

  }