.contact-form {
  
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgb(182, 238, 229);;
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: start;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.contact-form button[type="submit"] {
  background-color: rgba(96, 225, 203, 1)
  ;
  color: white;
}

.contact-form button[type="button"] {
  background-color: rgba(15, 35, 37, 0.3)
  ;
  color:white
  ;
}

.contact-form button:hover {
  opacity: 0.9;
}

.contact-form .buttons {
  display: flex;
  justify-content: space-around;
}