:root {
  --background-blue: #1D2A3A; /* Azul oscuro de la imagen */
  --background-light: #f0f0f0;
  --background-color: #1D2A3A;
  --text-color: #fff; /* Blanco para el texto */
}

.sidebar {
  width: 250px;
  background-color: var(--background-blue); /* Fondo azul oscuro */
  color: var(--text-color); /* Texto en blanco */
  border-right: 1px solid #ddd;
  padding: 1rem 0;
}

.logo {
  text-align: center;
  margin-bottom: 2rem;
}

.logo-image {
  width: 200px; /* Ajusta el tamaño del logo */
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  color: var(--text-color); /* Blanco */
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--background-dark); /* Azul más claro */
}

nav a.active {
  background-color: #004d99; /* Azul intermedio para elemento activo */
  font-weight: bold;
}

.menu-item {
  position: relative;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-header:hover {
  background-color: var(--background-dark);
}

.menu-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
