/* Contenedor principal */
.contenedor_p {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* Estilos para la introducción */
.intro {
  text-align: center;
  padding: 60px 20px;
  background-color: #f5f5f5;
  animation: fadeIn 1s ease-in-out;
}

.intro h1 {
  font-size: 2.8rem;
  color: #002b5b;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.4rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

/* Sección Misión y Visión */
.mission-vision {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background: linear-gradient(to right, #002b5b 50%, #e2a400 50%);
}

.mission, .vision {
  width: 45%;
  padding: #ffff;
  color: white;
  text-align: center;
  animation: fadeInUp 1.2s ease-in-out;
}

.mission h2, .vision h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.mission p, .vision p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Sección "Quiénes Somos" */
.quienes-somos {
  padding: 50px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.quienes-somos h2 {
  font-size: 2.5rem;
  color: #002b5b;
  margin-bottom: 30px;
}

.steps {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.step {
  text-align: center;
  width: 23%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.step:hover {
  transform: translateY(-10px);
}

.step i {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #e2a400;
}

.step h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #002b5b;
}

.step p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* Sección de Expertos */
.experts {
  padding: 40px 20px;
  background-color: #e6e6e6;
  text-align: center;
}

.experts h2 {
  font-size: 2.5rem;
  color: #002b5b;
  margin-bottom: 30px;
}

.expert-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.expert {
  text-align: center;
}

.expert img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
}

.expert img:hover {
  transform: scale(1.1);
}

.expert h3 {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #002b5b;
}

.expert p {
  color: gray;
  font-size: 1.2rem;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
