/* src/components/Proyectos.css */
.proyectos-section {
    padding: 60px 20px;
    background-color: #0f1a33; /* Azul oscuro */
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .introduccion-servicios {
    margin-bottom: 50px;
  }
  
  .subtitulo {
    font-size: 2.5rem;
    color: #ffd700; /* Amarillo */
    margin-bottom: 20px;
    
  }
  
  .descripcion {
    font-size: 1.2rem;
    color: white; /* Gris claro */
    margin-bottom: 40px;
  }
  
  .proyectos-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #ffd700; /* Amarillo brillante */
    text-transform: uppercase;
  }
  
  .proyectos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .proyecto-item {
    width: 280px;
    text-align: center;
    border: 2px solid #ffd700; /* Borde amarillo */
    border-radius: 8px;
    padding: 20px;
    background-color: #162447;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .proyecto-item:hover {
    transform: scale(1.05);
    background-color: #1b2c56;
  }
  
  .proyecto-imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .proyecto-nombre {
    font-size: 1.4rem;
    margin-top: 15px;
    color: #ffd700; /* Amarillo */
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover .proyecto-nombre {
    text-decoration: underline;
  }
  